<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TagIt Home</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="./Login_page.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg "  style="background-color: #cb78de;">
        <div class="container-fluid">
          <a class="navbar-brand" href="Login_page.html"> <img src="../Images/TagIt-logos_transparent.png" alt="TagIt" width="60" height="60" class="d-inline-block align-text-top"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">Home</a>
              </li>
            </ul>
              </div>
        </div>
      </nav>

      
     

                        <section id="users">
                          <div class="container">
                              <div class="logo">
                                  <h1>Organisation X</h1>
                                  <p>Welcome back</p>
                              </div>
                              <div class="access">
                                  <div class="user">
                                      <h1>Admin Portal</h1>
                                      <form action="">
                                          <label for="">Username</label>
                                          <input type="text" placeholder="username">
                                          <label for="">Password</label>
                                          <input type="password" placeholder="password">
                                          <button class="frm-button" type="submit">Submit</button>
                                          <!-- <button class="frm-button" type="submit">Back</button> -->
                                      </form>
                                  </div>
                              
                            
                                  <div class="user">
                                      <h1>User Portal</h1>
                                      <form action="">
                                          <label for="">Username</label>
                                          <input type="text" placeholder="username">
                                          <label for="">Password</label>
                                          <input type="password" placeholder="password">
                                          <button class="frm-button" type="submit">Submit</button>
                                      </form>
                                  </div>
                              </div>
                  
                  
                          </div>
                  
                      </section>

    
  </body>
</html>