*{
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
.container{
    margin: auto;
    overflow: hidden;
    width: 90vw;
    height: 100vh;
}
#nav-bar{
  background-color:#35424a ;
  height: 50px;
  border-bottom: #e8491d solid 3px;
}
#nav-bar ul{
    float: left;
    margin-left: 100px;
    margin-top: 15px;
    
}
#nav-bar li{
    display: inline;
    padding: 10px;
    
}
#nav-bar a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white; 
     
}
#nav-bar a:hover{
    color: #e8491d;
}
#users{
    background-image: url('../development-clone-website/img/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#users .logo{
    text-align: center;
    font-size: 25px;
    color: rgb(34, 70, 179);
    margin: 80px;
}
#users .logo h1{
    margin-bottom: 55px;
    font-size:70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #162127;
}
#users .admin{
    background-color: #162127;
    width: 300px;
    height: 300px;
    float: left;
    margin-left:15vw;
    border: #e8491d solid 2px;
    padding: 20px;
    border-radius: 15px;
}
#users .admin h1, .user h1{
    font-size: 25px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 25px;
}
#users label, button{
    color: white;
    margin: 15px 100px 15px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#users button{
    background-color: green;
    width: 70px;
    height: 30px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 100px;
}
#users button:hover{
    background-color: rgb(15, 85, 15);
}
#users input{
    margin: 5px 0 20px 0;
    width: 200px;
    height: 25px;
}
#users .user{
    background-color: #162127;
    width: 300px;
    height: 300px;
    float: right;
    margin-right: 15vw;
    border: #e8491d solid 2px;
    padding: 20px;
    border-radius: 15px;
}
